@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

.is-hidden {
  display: none !important;
}

.for-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .for-mobile {
    display: block;
  }
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  min-width: 320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  background-color: #f9f2ef;
}

section {
  padding: 60px 0px;
}

.title {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 42px;
  color: #29211e;
}

.title--color {
  color: #F9F2EF;
}

.header__top {
  margin-top: 10px;
}

.header__menu-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 45px;
}

.header__menu-item {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 45px;
  height: 45px;
}

.header__phone {
  font-weight: 500;
  color: #000;
  position: relative;
}

.header__phone::before {
  content: '';
  position: absolute;
  top: 2px;
  left: -22px;
  width: 12px;
  height: 12px;
  background-image: url("../img/phone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__singup {
  padding: 5px 20px;
  margin-left: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
}

.header__main {
  max-width: 370px;
  margin: 0 auto;
}

.header__desc {
  margin: 60px 0px;
  text-align: center;
  color: #29211e;
}

.header__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 20px;
}

.header__desc-author {
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  margin-bottom: 20px;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.header__btn-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 160px;
  height: 48px;
  border: 2px solid #5AAE86;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #5AAE86;
}

.header__btn-item--active {
  background-color: #5AAE86;
  color: #fff;
}

.header__desc-text {
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}

.author {
  color: #f9f2ef;
  background-color: #5AAE86;
}

.author__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author__photo {
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 60px;
}

.author__text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.author__text p {
  margin-top: 0px;
}

.yourself__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.yourself__img {
  margin: 60px 0px;
}

.yourself__item {
  position: relative;
  padding-left: 25px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 30px;
}

.yourself__item p::before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #5AAE86;
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.choose-you {
  color: #f9f2ef;
  background-color: #29211E;
}

.choose-you__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose-you__item {
  max-width: 345px;
  margin-top: 60px;
  text-align: center;
}

.choose-you__img {
  position: relative;
  margin-bottom: 30px;
}

.choose-you__img::after {
  content: '';
  height: 12px;
  border-radius: 7px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #5AAE86;
}

.choose-you__text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.master-class__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.master-class__item {
  margin-bottom: 60px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.master-class__item span {
  font-size: 64px;
  font-weight: 300;
  line-height: 83px;
}

.master-class__item h3 {
  margin: 0px;
  padding: 0px;
  font-weight: 600;
}

.master-class__item p {
  margin: 0px;
  padding: 10px 0px;
  font-weight: 300;
}

.master-class__btn {
  width: 245px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 10px;
  background-color: #5AAE86;
  color: #F9F2EF;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}

.instruction__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instruction__box {
  max-width: 345px;
  margin-top: 60px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.instruction__img {
  position: relative;
  margin-bottom: 30px;
}

.instruction__img::after {
  content: '';
  height: 12px;
  border-radius: 7px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #29211E;
}

.instruction__title {
  font-weight: 600;
}

.instruction__list {
  margin-left: 15px;
}

.instruction__item {
  list-style: decimal;
  font-weight: 400;
}

.price {
  background-color: #5AAE86;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.price__wrapper {
  color: #f9f2ef;
}

.price__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 60px;
}

.price__box--first {
  background-color: #29211E;
  border-radius: 5px;
}

.price__box span {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.price__title {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 300;
  line-height: 63px;
  margin: 30px 0px;
}

.price__text {
  font-weight: 300;
}

.price__place {
  font-weight: 500;
}

.price__btn {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  padding: 12px 20px;
  border-radius: 5px;
  color: #F9F2EF;
  background-color: #29211E;
  margin: 15px 0px 30px 0px;
}

.price__btn--bacg-col {
  background-color: #5AAE86;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #29211E;
}

.footer span {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #F9F2EF;
  padding: 60px 0px;
}

@media (min-width: 1024px) {
  .title {
    font-size: 64px;
    line-height: 84px;
  }
  .header__menu-list {
    min-height: 60px;
  }
  .header__menu-item {
    font-size: 16px;
    line-height: 19px;
  }
  .header__logo {
    width: 60px;
    height: 60px;
  }
  .header__phone::before {
    top: 2px;
    left: -26px;
    width: 16px;
    height: 16px;
  }
  .header__singup {
    margin-left: 20px;
  }
  .header__main {
    position: relative;
    max-width: 1300px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__desc {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 745px;
    text-align: start;
    color: #29211e;
  }
  .header__title {
    font-size: 64px;
    line-height: 84px;
  }
  .header__desc-author {
    font-size: 24px;
    line-height: 31px;
  }
  .header__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__btn-item {
    margin-right: 20px;
  }
  .header__desc-text {
    font-size: 16px;
    line-height: 19px;
  }
  .header__main-img {
    height: 870px;
  }
  .author {
    padding: 60px 0px;
  }
  .author__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .author__text {
    width: 525px;
    font-size: 24px;
    line-height: 33px;
  }
  .yourself__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .yourself__list {
    width: 600px;
  }
  .yourself__item {
    padding-left: 40px;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 40px;
  }
  .yourself__item p::before {
    content: '';
    width: 24px;
    height: 24px;
  }
  .choose-you__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .choose-you__item {
    width: 500px;
  }
  .choose-you__img::after {
    height: 16px;
    border-radius: 10px;
  }
  .choose-you__text {
    font-size: 24px;
    line-height: 29px;
  }
  .master-class__item {
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 20px;
  }
  .master-class__item--flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .master-class__item--flex-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .master-class__item-box {
    width: 33%;
  }
  .instruction__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .instruction__box {
    width: 500px;
    font-size: 24px;
    line-height: 29px;
  }
  .instruction__img img {
    height: 324px;
  }
  .instruction__img::after {
    height: 16px;
    border-radius: 10px;
  }
  .instruction__title {
    font-weight: 600;
  }
  .instruction__item {
    font-size: 20px;
    font-weight: 300;
  }
  .price {
    background-color: #5AAE86;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 24px;
  }
  .price__wrapper {
    color: #f9f2ef;
  }
  .price__box-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 60px;
  }
  .price__box--second {
    border: 2px solid #F9F2EF;
    border-radius: 10px;
    padding: 0px 30px;
  }
  .price__title {
    font-size: 64px;
    line-height: 84px;
  }
  .price__text--width {
    width: 450px;
  }
  .footer span {
    font-size: 20px;
    line-height: 24px;
    padding: 113px 0px;
  }
}

@media (min-width: 1330px) {
  .container {
    max-width: 1330px;
  }
}
/*# sourceMappingURL=style.css.map */