.filter__mobile {
	max-width: 40px;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: fixed;
	top: 30px;
	right: 75px;
	z-index: 2;
}
.filterMobile__icon {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #28b4b2;
	font-size: 35px;
}	
.filterMobile__menu {
	width: 250px;
	background: #151414;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 5px 0px 5px 20px;
	opacity: .6;
	position: fixed;
	top: 100px;
	right: 0px;
	transition: transform .5s;
	transform: translateX( 330px );
}
.filterMobile__item {
	padding-top: 5px;
	a {
		display: inline-block;
		text-decoration: none;
		color: #ffffff;
	}
}
.filterMobile__item-color a {
	color: #28b4b2;
}
.filter__mobile:hover .filterMobile__menu {
	transform: translateX( 0px );
}