.filter {
	min-width: 300px;
	height: 222px;
	background: #242b2e;
	display: flex;
	flex-direction: column;
	&__menu {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		margin: 24px 60px 23px 0px;
		color: #1ab5b3;
		.fa-windows {
			padding: 0px 0px 0px 12px;
		}
	}
	.filterSubmenu {
		li {
			display: flex;
			justify-content: flex-end;
			padding: 0px 60px 7px 0px;
		}
		a {
			display: inline-block;
			text-align: right;
			text-decoration: none;
		}
		&__bgAllWorks a {
			color: #ffffff;
		}
		&__bg a {
			color: #6b7072;
			transition: color .5s;
		}
		&__bg a:hover {
			cursor: pointer;
			color: #ffffff;
		}
	} 
}

