* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, Tahoma, sans-serif;
	padding: 0px;
}
li {
	list-style-type: none;
}
img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
label {
	display: block;
}
input:focus {
  border: 1px solid red;
}

.container {
	display: flex;
	flex-direction: row;
}

.siteBar {
	max-width: 300px;
	min-width: 300px;
	background: #242b2e;
	display: flex;
	flex-direction: column;
}

@import "siteBarLogo";

@import "menu";

@import "filter";

@import "footer";
 
@import "submenu";

.filter__mobile {
	display: none;
}
.mobileSocialIcons {
	display: none;
}
/* sait_bar_submenu */
/* sait_bar */

/* main_block */
.main {
	width: 100%;
	max-width: 1620px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	background: #b4b7b8;
}
.main__standardBlock {
	width: calc(100%/3);
	display: flex;
	padding: 3px 3px;
	position: relative;
	transition: opacity .3s;
}
.info {
	width: 90px;
	height: 90px;
	background: #28b4b2;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0px;
	right: 0px;
	opacity: .7;
	cursor: pointer;
	z-index: 10;
}
.info__circle {
	width: 60px;
	height: 60px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.infoCircle__img {
	display: flex;
}
.info__hover {
	width: 283px;
	height: 130px;
	background: #151414;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px 0px 0px 20px;
	position: fixed;
	top: 90px;
	right: 0px;
	transition: transform .5s;
	transform: translateX( 330px );
}
.infoHover__item {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: calc(100%/3);

}
.infoHoverItem__img {}
.infoHoverItem__text {
	padding-left: 10px;
	color: #ffffff;
}
.info:hover .info__hover {
	transform: translateX( 0px );
}
.standardBlockHover{
	width: 100%;
	height: 100%;
	padding: 3px 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #2db8b7;
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;

}
.standardBlockHover__text1 {
	font-size: 17px;
	color: #ffffff;
}
.standardBlockHover__text2 {
	font-size: 10px;
	color: #ffffff;
}
.standardBlockHover__line {
	color: #ffffff;
}
.standardBlockHover__circle {
	width: 60px;
	height: 60px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ffffff;
	border-radius: 50%;
}
.standardBlockHoverCircle__arrow {}

.main__standardBlock:hover .standardBlockHover {
	cursor: pointer;
	opacity: .7;
}
/* main_block */

/* work_block */
.workContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 25px 25px;
	background: #ffffff;
	padding: 30px;
}
.workBlock {
	width: 100%;
	max-width: 722px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.workBlock-line {
	width: 0px;
	border: 1px solid #d7d7d7;
	margin: 0px 30px;
}
.workBlock__img {
	width: 100%;
	max-width: 722px;
	height: 560px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.workBlock__img img {
	width: 100%;
	object-fit: fill;
}
.workBlockImg__slider {
	width: 100%;
	max-width: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	bottom: 3%;
	right: 3%;
}
.workBlockImgSlider__block {
	width: 100%;
	display: block;
	max-width: 20px;
	height: 10px;
	background: #b6b6b6;
	border: 1px solid #e1e1e1;
}
.workBlockImgSlider__block-hover {
	background: #40bcba;
	border: 1px solid #6b6b6b;
}
.workBlockImgSlider__block:hover {
	cursor: pointer;
}
.workBlock__text {
	width: 100%;
	font-size: 16px;
	line-height: 30px;
	border-bottom: 1px solid #d7d7d7;
}
.workBlock__text h3 {
	margin: 10px 0px;
}
.workBlock__text p {
	margin-bottom: 10px;
}
.workBlock__text p:last-child {
	margin-bottom: 0px;
}
.workBlock__relatedProjects h3 {
	margin: 30px 0px 10px 0px;
}
.workBlock__project {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.workBlockProject__item {
	width: 100%;
	max-width: 240px;
	height: 182px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.workBlockProject__item:hover {
	cursor: pointer;
}
.workBlock__projectInfo {
	width: 100%;
	max-width: 722px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.wBprojectInfo {
	width: 100%;
	max-width: 722px;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid #d7d7d7;
}
.wBprojectInfo__icon {}
.wBprojectInfo__circle {
	width: 30px;
	height: 30px;
	border: 1px solid #2ebbba;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wBprojectInfo__circle img {
	width: 50%;
	height: 50%;
}
.wBprojectInfo__text {
	margin-left: 10px;
}
.workBlock__tags {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.workBlock__tags h3 {
	margin-top: 30px;
}
.workBlockTags__block {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
.workBlockTags__item {
	display: flex;
	border: 1px solid #d7d7d7;
	border-radius: 10%;
	padding: 10px;
	margin: 5px 5px 5px 0px;
}
.workBlockTags__item:hover {
	cursor: pointer;
}
.workBlock__projectGallery {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.workBlock__projectGallery h3 {
	margin-top: 30px;
}
.wBProjectGallery__block {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
.wBProjectGallery__item {
	max-width: 78px;
	height: 78px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 5px 5px 0px;
}
.wBProjectGallery__item:hover {
	cursor: pointer;
}
.workBlock__projectFeatures {
	width: 100%;
	margin-top: 30px;
	font-size: 16px;
}
.workBlock__projectFeatures li {
	margin-top: 10px;
}
.workBlock__projectFeatures li::before {
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	background: #37b0ae;
	margin-bottom: 3px;
	margin-right: 12px;
}
/* work_block */
/* about pade*/
.aboutContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 25px 25px;
	background: #ffffff;
	padding: 30px;
}
.aboutBlock {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.aboutBlock-line {
	width: 0px;
	border: 1px solid #d7d7d7;
	margin: 0px 30px;
}
.aboutBlock__img {
	width: 100%;
	max-width: 722px;
	height: 302px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.aboutBlock__img img {
	width: 100%;
	object-fit: fill;
}
.aboutBlock__text {
	width: 100%;
	font-size: 16px;
	line-height: 30px;
	border-bottom: 1px solid #d7d7d7;
	margin-top: 30px;
}
.aboutBlock__team {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 30px;
}
.aboutBlockTeam__box {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.aboutBlockTeam__img {
	max-width: 227px;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	position: relative;
}
.aboutBlockTeam__hover {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #2db8b7;
	font-size: 18px;
	color: #ffffff;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: .0;
}
.aboutBlockTeam__hover:hover {
	cursor: pointer;
	opacity: .8;
}

.aboutBlockTeam__text {
	width: 227px;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #d9d9d9;
	margin: 5px;
	font-size: 24px;
}
.aboutBlock__skills {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-bottom: 2px solid #d9d9d9;
}
.aboutBlockSkills__box {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.aboutBlockSkills__box:last-child {
	margin-bottom: 15px;
}
.aboutBlockSkills__tr1 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	margin: 10px 0px;
	position: relative;
}
.aboutBlockSkills__per {
	position: absolute;
	right: 0px;

}
.aboutBlockSkills__tr2 {
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	border: 2px solid #d9d9d9;
}
.aboutBlockSkills__bg1 {
	width: 89%;
	height: 26px;
	background: #d9d9d9;
}
.aboutBlockSkills__bg2 {
	width: 97%;
	height: 26px;
	background: #d9d9d9;
}
.aboutBlockSkills__bg3 {
	width: 85%;
	height: 26px;
	background: #d9d9d9;
}
.aboutBlockSkills__bg4 {
	width: 75%;
	height: 26px;
	background: #d9d9d9;
}
.aboutBlock__seo {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 30px;
	border-bottom: 2px solid #d9d9d9;
}
.aboutBlockSeo__tr {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-top: 10px;
}
.aboutBlockSeo__img {
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.aboutBlockSeo__author {
	width: calc(100% - 80px);
	height: 80px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: #1ab5b3;
	font-size: 18px;
	color: #ffffff;
	padding-left: 25px;
}
.aboutBlockSeo__text {
	width: 100%;
	display: flex;
	margin: 25px 0px 0px 25px;
	font-size: 16px;
	line-height: 30px;
}
.aboutBlock__services {
	width: 100%;
	margin-top: 30px;
	font-size: 16px;
}
.aboutBlock__services li {
	margin-top: 10px;
}
.aboutBlock__services li::before {
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #000000;
	margin-bottom: 3px;
	margin-right: 12px;
}
/* about pade*/
/* blog pade*/
.content {
	columns: 3;
	column-gap: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.blog__gallery {
	width: 100%;
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	break-inside: avoid;
}
.blogGallery__slider {
	width: 100%;
	display: flex;
	position: relative;
}
.blogGallerySlider__img {
	width: 100%;
	display: flex;

}
.blogGallerySlider__arrow{
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.blogGallerySliderArrow__arrowRight {
	width: 42px;
	height: 42px;
	background: #1ab5b3;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.blogGallerySliderArrow__arrowLeft {
	width: 42px;
	height: 42px;
	background: #1ab5b3;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.blogGallery__text {
	width: 100%;
	background: #ffffff;
	padding: 20px 20px;
	border-bottom: 1px solid #d7d7d7;
}
.blogGallery__footer {
	width: 100%;
	height: 52px;
	display: flex;
	flex-direction: row;
	background: #ffffff;
}
.blogGalleryFooter__comments {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.blogGalleryFooterComments__commentsImg {}
.blogGalleryFooterComments__commentsText {
	margin-left: 10px;
}
.blogGallery__date {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.blogGalleryDate__dateImg {}
.blogGalleryDate__dateText {
	margin-left: 10px;
}
.blog__link {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #1ab5b3;
	padding: 20px 20px;
	margin-bottom: 25px;
	break-inside: avoid;
}
.blogLink__text {
	display: flex;
	justify-content: center;
	color: #ffffff;
}
.blogLink__link {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.blogLink__link a{
	width: 100%;
	height: 100%;
	color: #ffffff;
}
.blog__video {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
	break-inside: avoid;
}
.blogVideo__screen {
	display: flex;
	position: relative;
    width: 100%;
    height: 400px;
    padding: 0;
    overflow: hidden;
}
.blogVideoScreen__youtube {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.blogVideo__player {
	width: 100%;
	height: 42px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: #2b2b2b;
}
.blogVideoPlayer__imgplay {
	margin: 0px 15px 0px 15px;
}
.blogVideoPlayer__imgscroll1 {
	width: 143px;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 1px solid #383838;
	border-right: 1px solid #383838;
}
.imgscroll1__item1 {
	width: 110px;
	height: 14px;
	border: 2px solid #000000;
	display: flex;
}
.imgscroll1Item__bg1{
	width: 27px;
	background: #8f8f8f;
}
.imgscroll1Item__bg2{
	width: 38px;
	background: #3b3b3b;
}
.blogVideoPlayer__imgscroll2 {
	width: 90px;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.imgscroll2__item1 {
	width: 75px;
	height: 14px;
	border: 2px solid #000000;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.imgscroll2Item2__bg {
	width: 51px;
	height: 6px;
	background: #3b3b3b;
	margin: 2px 2px;
}
.blogVideoPlayer__imgsound {
	margin: 0px 15px 0px 0px;
}
.blog__standardPost {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
	break-inside: avoid;
}
.blogStandardPost__img {
	width: 100%;
	height: 250px;
	display: flex;
}
.blog__img {
	width: 100%;
	display: flex;
	position: relative;
	margin-bottom: 25px;
	break-inside: avoid;
}
.blogImg__ellipse {
	width: 60px;
	height: 60px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
}
.blog__asidePost {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 25px;
	break-inside: avoid;
}
.blogAsidePost__bgblue {
	width: 5%;
	height: 140px;
	background: #1ab5b3;
	display: flex;
}
.blogAsidePost__text {
	width: 95%;
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background: #242b2e;
	color: #ffffff;
	padding: 10px 10px;
}
.blog__quotePost {
	width: 100%;
	height: 214px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: #242b2e;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 25px;
	break-inside: avoid;
}
.blogQuotePost__text {
	display: flex;
	color: #ffffff;
	text-align: center;
}
.blogQuotePost__parentheses {
	display: flex;
	color: #1ab5b3;
}
.blogQuotePost__author {
	display: flex;
	color: #1ab5b3;
}
/* blog pade*/
/* services pade*/
.services__comments {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.services__comments h3 {
	margin-top: 30px;
}
.servicesComments__block {
	width: 100%;
	max-width: 722px;
}
.scBlock__extremeTr {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 10px 0px;
}
.scBlock__tdImg {
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px; 
}
.scBlock__tdCom {
	width: 100%;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.scBlockTdCom__author {
	color: #d7d7d7;
	font-size: 14px;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 5px;
	margin-bottom: 8px;
}
.scBlockTdCom__author span {
	color: #000000;
}
.scBlockTdCom__text {
	width: 100%;
	display: flex;
	color: #aaaaaa;
	font-size: 18px;
	margin-left: 5px;
}
.scBlock__secondTr {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 10px 0px 10px 5%;
}
.scBlock__line {
	width: 40px;
	height: 40px;
	display: flex;
	border-left: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
}
.scBlock__thirdTr {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 10px 0px 10px 15%;
}
.scBlock__fourthTr {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 10px 0px 10px 30%;
}


/* services pade*/

/* contact pade*/
.contactContainer {
	display: inline-block;
	width: 100%;
	height: 1070px;
	background-image: url(../img/contact/map.png);
}
.contactBlock {
	max-width: 782px;
	margin: 24px 24px 0px 24px;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: #ffffff;
	padding: 30px 30px;
}
.contactBlock__Text {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-bottom: 2px solid #d9d9d9;
	line-height: 150%;
	font-size: 18px;
}
.contactBlock__Form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.contactBlock__Form h3 {
	margin: 20px 0px 20px 0px;
}
.contactform {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
.form__item {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}
.form__item:nth-child(2) {
	margin-right: 0px;
}
.form__item input {
	width: 100%;
	height: 100%;
	display: block;
	border: 0px;
	padding: 15px;
	font-size: 18px;
	outline: 0px;
}
.form__item input:focus {
	border: 2px solid #1ab5b3;
}
.formItem__tr {
	display: flex;
}
.formItemTr__td {
	width: 20%;
	height:60px;
	display:flex;
	border: 2px solid #d8d8d8;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}
.formItemTr__td:hover {
	cursor: pointer;
}
.formItemTrTd__circle {
	width: 40px;
	height: 40px;
	border: 2px solid #1ab5b3;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.formItemTrTd__circle img {
	width: 50%;
	height: 50%;
}
.formItemTr__tdInput {
	width: 80%;
	height:60px;
	display:flex;
	border-top: 2px solid #d8d8d8;
	border-right: 2px solid #d8d8d8;
	border-bottom: 2px solid #d8d8d8;
}
.form__item textarea {
	width: 100%;
	height: 135px;
	padding: 5px 5px;
	font-size: 18px;
	margin-bottom: 15px;
	outline: 0px;
}
.form__item textarea:focus {
	border: 2px solid #1ab5b3;
}
.form__item button {
	width: 100%;
	height: 60px;
	font-size: 18px;
	color: #ffffff;
	background: #1ab5b3;
}
.form__item button:hover {
	cursor: pointer;
}
/* contact pade*/
@media screen and ( max-width: 1580px ) {
	.content {
		columns: 3;
	}
}
@media screen and ( max-width: 1520px ) {
	.main {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.main__standardBlock {
		width: calc(100%/2);
		min-width: 300px;
		display: flex;	
	}
	.content {
		columns: 2;
	}
	.workBlock__img {
		width: 100%;
		height: 360px;
	}
	.workBlockProject__item {
		width: 100%;
		height: 152px;
	}
	.scBlock__secondTr {
		margin: 10px 0px 10px 3%;
	}
	.scBlock__thirdTr {
		margin: 10px 0px 10px 8%;
	}
	.scBlock__fourthTr {
		margin: 10px 0px 10px 15%;
	}
	.aboutBlockTeam__img {
		max-width: 180px;
		height: 150px;
	}
	.aboutBlockTeam__text {
		width: 180px;
		height: 150px;
	}
@media screen and ( max-width: 1300px ) {
	.workBlock__img {
		width: 100%;
		height: 260px;
	}
	.workBlockProject__item {
		width: 100%;
		height: 112px;
	}
	.scBlock__secondTr {
		margin: 10px 0px 10px 2%;
	}
	.scBlock__thirdTr {
		margin: 10px 0px 10px 5%;
	}
	.scBlock__fourthTr {
		margin: 10px 0px 10px 10%;
	}
	.aboutBlockTeam__img {
		max-width: 150px;
		height: 120px;
	}
	.aboutBlockTeam__text {
		width: 150px;
		height: 120px;
	}
}
@media screen and ( max-width: 1100px ) {
	.workBlockProject__item {
		width: 100%;
		height: 92px;
	}
	.scBlock__secondTr {
		margin: 10px 0px 10px 1%;
	}
	.scBlock__thirdTr {
		margin: 10px 0px 10px 3%;
	}
	.scBlock__fourthTr {
		margin: 10px 0px 10px 5%;
	}
	.aboutContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin: 25px 25px;
		background: #ffffff;
		padding: 30px;
	}
	.aboutBlock-line {
		display: none;
	}
	.aboutBlock__skills {
	margin-top: 30px;
}
}
@media screen and ( max-width: 1000px ) {
	.main {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.main__standardBlock {
		width: 100%;
		min-width: 250px;
		display: flex;	
	}
	.content {
		columns: 1;
		column-gap: initial;
		padding-left: 5px;
		padding-right: 5px;
	}
	.workContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin: 25px 25px;
		background: #ffffff;
		padding: 30px;
	}
	.workBlock-line {
		display: none;
	}
	.workBlock__img {
		height: 560px;
	}
	.workBlock__project {
		margin-bottom: 30px;
	}
	.workBlockProject__item {
		height: 182px;
	}

}
@media screen and ( max-width: 900px ) {
	.contactform {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.form__item {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-right: 0px;
	}
	.workContainer {
		margin: 10px 10px;
		padding: 10px;
	}
	.workBlock__img {
		height: 460px;
	}
	.workBlockProject__item {
		height: 132px;
	}
	.workBlock__projectInfo {
		margin-top: 30px;
	}
	.aboutContainer {
		margin: 10px 10px;
		padding: 10px;
	}
	.aboutBlockTeam__img {
		max-width: 140px;
		height: 110px;
	}
	.aboutBlockTeam__text {
		width: 140px;
		height: 110px;
	}
}
@media screen and ( max-width: 750px ) {
	.workBlock__img {
		height: 360px;
	}
	.workBlockProject__item {
		height: 112px;
	}
}

@media screen and ( max-width: 650px ) {
	.container {
		display: flex;
		flex-direction: column;
	}
	.siteBarLogo {
		width: 100%;
		height: 100px;  
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0px;
		z-index: 1;
	}
	.siteBarLogo__block {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-right: 0px;
		margin-top: 10px;
		margin-left: 20%;
	}
	.siteBarLogo__kappe {
		font-size: 58px;
	}
	.siteBarLogo__forCreatives {
		display: none;
	}

	.main:nth-child(2){
		margin-top: 100px;
	}
	
	.menu {
		display: none;
	}
	.filter {
		display: none;
	}
	
	@import "filter__mobile";
	
	.mobileSocialIcons {
		width: 40px;
		height: 40px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		position: fixed;
		top: 30px;
		right: 115px;
		z-index: 2;
	}
	.mobileSocialIcons__f {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		color: #28b4b2;
		font-size: 40px;
	}
	.mobileSocialIcons__box {
		width: 250px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 5px 0px 5px 20px;
		position: fixed;
		top: 100px;
		right: 0px;
		transition: transform .5s;
		transform: translateX( 330px );	
	}
	.mobileSocialIcons__bg {
		width: 100%;
		height: 35px;
		display: flex;
		background: #151414;
		position: fixed;
		top: 0px;
		right: 0px;
		opacity: .6;
	}
	.mobileSocialIcons__box a {
		width: 24px;
		height: 24px;
		border-radius: 6px;
		margin: 0 4px 0px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;	
		z-index: 2; 
	}
	.mobileSocialIcons__box a img {
		border-radius: 6px;   
	}

	.mobileSocialIcons:hover .mobileSocialIcons__box {
		transform: translateX( 0px );
	}

	.footer {
		display: none;
	}
	.submenu {
		z-index: 2;
		top: 15px;
	}
	.info {
		width: 40px;
		height: 40px;
		top: 30px;
		right: 15px;
		background: #ffffff;	
	}
	.info__circle {
		width: 40px;
		height: 40px;
		border: 2px solid #28b4b2;
		background: #ffffff;
	}
	.infoCircle__img {
		width: 50%;
		background: #28b4b2;
		border-radius: 50%;
		border: 2px solid #28b4b2;
	}
	.info__hover {
		width: 250px;
		height: 100px;
		top: 100px;
	}
	.content {
		columns: 1;
		column-gap: initial;
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media screen and ( max-width: 450px ) {
	.siteBarLogo__kappe {
		font-size: 38px;
	}
	.siteBarLogo__block {
		margin-top: 25px;
		margin-left: 25%;
	}
	.info {
		width: 30px;
		height: 30px;
		top: 35px;
		right: 20px;
	}
	.info__circle {
		width: 30px;
		height: 30px;
	}
	.filter__mobile {
		width: 30px;
		height: 30px;
		top: 35px;
		right: 70px;
	}
	.filterMobile__icon {
		font-size: 25px;
	}
	.mobileSocialIcons {
		width: 30px;
		height: 30px;
		top: 30px;
		right: 100px;
	}
	.mobileSocialIcons__f {
		font-size: 35px;
	}
	.scBlock__secondTr {
		margin: 10px 0px 10px 0%;
	}
	.scBlock__thirdTr {
		margin: 10px 0px 10px 0%;
	}
	.scBlock__fourthTr {
		margin: 10px 0px 10px 0%;
	}
	.aboutBlockTeam__img {
		max-width: 120px;
		height: 100px;
	}
	.aboutBlockTeam__text {
		width: 120px;
		height: 100px;
	}
}}