@import "var";
@import "mixin";
@import "fonts";
@import "settings";

body {
    background-color: #f9f2ef;
}
section {
    padding: 60px 0px;
}
.title {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 42px;
    color: #29211e;
    &--color {
        color: #F9F2EF;
    }
}

.header {
    &__top {
        margin-top: 10px;
        //background-color: red;
    }
    &__menu-list {
        position: relative;
        @include flex(flex-end);
        min-height: 45px;
    }
    &__menu-item {
        font-family: "Inter", sans-serif;
        font-size: 12px;
        line-height: 14px;
    }
    &__logo {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 45px;
        height: 45px;
    }
    &__phone {
        font-weight: 500;
        color: #000;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: -22px;
            width: 12px;
            height: 12px;
            background-image: url('../img/phone.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &__singup {
        padding: 5px 20px;
        margin-left: 10px;
        border-radius: 5px;
        text-transform: uppercase;
        color: #fff;
        background-color: #000;

    }
    &__main {
        max-width: 370px;
        margin: 0 auto;
    }
    &__desc {
        margin: 60px 0px;
        text-align: center;
        color: #29211e;
    }
    &__title {
        font-size: 32px;
        font-weight: 400;
        line-height: 42px;
        margin-bottom: 20px;
    }
    &__desc-author {
        font-size: 16px;
        font-weight: 300;
        line-height: 21px;
        margin-bottom: 20px;
    }
    &__btn {
        @include flex-sb-center;
        margin-bottom: 20px;
    }
    &__btn-item {
        @include flex;
        width: 160px;
        height: 48px;
        border: 2px solid #5AAE86;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        color: #5AAE86;
        &--active {
            background-color: #5AAE86;
            color: #fff;
        }
    }
    &__desc-text {
        font-size: 12px;
        font-weight: 300;
        line-height: 14px;
    }
}
.author {
    color: #f9f2ef;
    background-color: #5AAE86;
    &__wrapper {
        @include flex-col-all-center;
    }
    &__photo {
        background-size: cover;
        border-radius: 10px;
        margin-bottom: 60px;
    }
    &__text {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        p{
            margin-top: 0px;
        }  
    }
}
.yourself {
    &__box {
        @include flex-col-all-center;
    }
    &__img {
        margin: 60px 0px;
    }
    &__item {
        position: relative;
        padding-left: 25px;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        margin-bottom: 30px;
        p::before {
            content: '';
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #5AAE86;
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translateY(-50%);
        }
    }
}
.choose-you {
    color: #f9f2ef;
    background-color: #29211E;
    &__wrapper {
        @include flex-col-all-center;
    }
    &__item {
        width: 345px;
        margin-top: 60px;
        text-align: center; 
    }
    &__img {
        position: relative;
        margin-bottom: 30px;
        &::after {
            content: '';
            height: 12px;
            border-radius: 7px;
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: #5AAE86;
        }
    }
    &__text {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }
}
.master-class {
    &__wrapper {
        @include flex-col-all-center;
    }
    &__list {}
    &__item {
        margin-bottom: 60px;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        line-height: 19px; 
        span {
            font-size: 64px;
            font-weight: 300;
            line-height: 83px; 
        }
        h3 {
            margin: 0px;
            padding: 0px;
            font-weight: 600;  
        }
        p {
            margin: 0px;
            padding: 10px 0px;
            font-weight: 300;
        }
    }
    &__btn {
        width: 245px;
        height: 48px;
        @include flex;
        border-radius: 10px;
        background-color: #5AAE86;
        color: #F9F2EF;
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px; 
    }
}
.instruction {
    &__wrapper {
        @include flex-col-all-center;
    }
    &__box {
        width: 345px;
        margin-top: 60px;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        line-height: 19px;
    }
    &__img {       
        position: relative;
        margin-bottom: 30px;
        &::after {
            content: '';
            height: 12px;
            border-radius: 7px;
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: #29211E;
        }
    }
    &__title {
        font-weight: 600;
    }
    &__list {
        margin-left: 15px;
    }
    &__item {
        list-style: decimal;
        font-weight: 400;
    }
}
.price {
    background-color: #5AAE86;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 19px;
    &__wrapper {
        color: #f9f2ef;
    }
    &__box-wrapper {}
    &__box {
        @include flex-col-all-center;
        text-align: center;
        margin-bottom: 60px;
        &--first {
            background-color: #29211E;
            border-radius: 5px;
        }
        &--second {}
        span {
            font-size: 24px;
            font-weight: 600;
            line-height: 29px; 
        }
    }
    &__title {
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 300;
        line-height: 63px;
        margin: 30px 0px;
    }
    &__text {
        font-weight: 300;
    }
    &__place {
        font-weight: 500;
    }
    &__btn {
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        padding: 12px 20px;
        border-radius: 5px;
        color: #F9F2EF;
        background-color: #29211E;
        margin: 15px 0px 30px 0px;
        &--bacg-col {
            background-color: #5AAE86;
        }
    }
}
.footer {
    @include flex;
    background-color: #29211E;
    span {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        color: #F9F2EF;
        padding: 60px 0px;
    }
}





@media (min-width: 1024px) {
    .title {
        font-size: 64px;
        line-height: 84px;
    }
    .header {
        &__menu-list {
            min-height: 60px;
        }
        &__menu-item {
            font-size: 16px;
            line-height: 19px;
        }
        &__logo {
            width: 60px;
            height: 60px;
        }
        &__phone {
            &::before {
                top: 2px;
                left: -26px;
                width: 16px;
                height: 16px;
            }
        }
        &__singup {
            margin-left: 20px;
        }
        &__main {
            position: relative;
            max-width: 1300px;
            width: 100%;
            @include flex (flex-end);
        }
        &__desc {
            position: absolute;
            top: 20px;
            left: 0px;
            width: 745px;
            text-align: start;
            color: #29211e;
        }
        &__title {
            font-size: 64px;
            line-height: 84px;
        }
        &__desc-author {
            font-size: 24px;
            line-height: 31px;
        }
        &__btn {
            @include flex(start);
        }
        &__btn-item {
            margin-right: 20px;
        }
        &__desc-text {
            font-size: 16px;
            line-height: 19px;
        }
        &__main-img {
            height: 870px;
        }
    }
    .author {
        padding: 60px 0px;
        &__wrapper {
            @include flex (space-between, flex-start);
        }
        &__text {
            width: 525px;
            font-size: 24px;
            line-height: 33px;
        }
    }
    .yourself {
        &__box {
            @include flex(space-between, center, row-reverse);
        }
        &__list {
            width: 600px;
        }
        &__item {
            padding-left: 40px;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 40px;
            p::before {
                content: '';
                width: 24px;
                height: 24px;
            }
        }
    }
    .choose-you {
        &__wrapper {
            @include flex(space-between, flex-start);
        }
        &__item {
            width: 500px;
        }
        &__img {
            &::after {
                height: 16px;
                border-radius: 10px;
            }
        }
        &__text {
            font-size: 24px;
            line-height: 29px;
        }
    }
    .master-class {
        &__item {
            margin-bottom: 0px;
            font-size: 24px;
            line-height: 20px;
            &--flex-center {
                @include flex (center);
            }
            &--flex-end {
                @include flex (flex-end);
            }
        }
        &__item-box {
            width: 33%;
        }
    }
    .instruction {
        &__wrapper {
            @include flex(space-between, flex-start);
        }
        &__box {
            width: 500px;
            font-size: 24px;
            line-height: 29px;
        }
        &__img {
            img {
                height: 324px;
            }
            &::after {
                height: 16px;
                border-radius: 10px;
            }
        }
        &__title {
            font-weight: 600;
        }
        &__item {
            font-size: 20px;
            font-weight: 300;
        }
    }
    .price {
        background-color: #5AAE86;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        line-height: 24px;
        &__wrapper {
            color: #f9f2ef;
        }
        &__box-wrapper {
            @include flex (space-between);
            gap: 60px;
        }
        &__box {
            
            &--first {
            }
            &--second {
                border: 2px solid #F9F2EF;
                border-radius: 10px;
                padding: 0px 30px;
            }
        }
        &__title {
            font-size: 64px;
            line-height: 84px;
        }
        &__text {
            &--width {
                width: 450px;
            }
        }
    }
    .footer {
        span {
            font-size: 20px;
            line-height: 24px;
            padding: 113px 0px;
        }
    }
}

@media (min-width: 1330px) {
    .container {
        max-width: 1330px;
    }
}





